# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so
*.ipynb_checkpoints/

# Jupyter Notebook metadata
.ipynb_checkpoints/

# OS files
.DS_Store

# Environment files
.env
.venv/
*.env
*.venv

# Data files
*.csv
*.xlsx

# Logs
*.log
